body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}

#game-container {
    position: relative;
    border: 2px solid #535353;
    background-color: #fff;
}

#score-board {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: #535353;
}

#gameCanvas {
    display: block;
    background-color: #fff;
}

#game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}

#game-over h1 {
    color: #535353;
    margin: 0;
}

#game-over p {
    color: #777;
}
